
    body{
        background-color: #f0f0f2;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    

    h1{
        font-size : 43px;
        font-weight: bold;
       
    }

    p{
        font-size: 21px;
    }

    a{
        text-decoration:none;
        font-size: 20px;
        color: #6262ce;
    }
    
    div{
        width: 45%;
        padding: 36px 62px;
        margin: 99px 391px;
        border: 1px solid white;
        border-radius: 8px;
        background-color: #fdfdff;

    }